<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${PHONEHOME_LOGDIR:-logs}/phonehome-server.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${PHONEHOME_LOGDIR:-logs}/phonehome-server.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ERRORS-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${PHONEHOME_LOGDIR:-logs}/phonehome-errors.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${PHONEHOME_LOGDIR:-logs}/phonehome-errors.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <appender name="MESSAGES-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${PHONEHOME_LOGDIR:-logs}/phonehome-messages.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${PHONEHOME_LOGDIR:-logs}/phonehome-messages.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <appender name="TIMINGS-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${PHONEHOME_LOGDIR:-logs}/phonehome-timings.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${PHONEHOME_LOGDIR:-logs}/phonehome-timings.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <logger name="errors" level="INFO" additivity="false">
    <appender-ref ref="ERRORS-FILE" />
  </logger>

  <logger name="messages" level="INFO" additivity="false">
    <appender-ref ref="MESSAGES-FILE" />
  </logger>

  <logger name="timings" level="INFO" additivity="false">
    <appender-ref ref="TIMINGS-FILE" />
  </logger>

  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>
