<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>


  <appender name="ERRORS-FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/phonehome-errors.log</file>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <appender name="MESSAGES-FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/phonehome-messages.log</file>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <appender name="TIMINGS-FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/phonehome-timings.log</file>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <logger name="errors" level="INFO" additivity="false">
    <appender-ref ref="ERRORS-FILE" />
  </logger>

  <logger name="messages" level="INFO" additivity="false">
    <appender-ref ref="MESSAGES-FILE" />
  </logger>

  <logger name="timings" level="INFO" additivity="false">
    <appender-ref ref="TIMINGS-FILE" />
  </logger>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
