- attributes("title") = "Stats"

:javascript
  function loadChartData(chart, url) {
    $.get(url, function(data) {
      chart.series[0].setData(data, true);
    });
  };

  $(function() {
    var errorsPerDayChart = new Highcharts.Chart({
      chart: {
        renderTo: 'errors-per-day',
        type: 'line',
        height: 300,
        width: 900,
        marginBottom: 25
      },
      credits: {
        enabled: false
      },
      title: {
        text: 'Errors per day'
      },
      subtitle: {
        text: 'Last 7 days'
      },
      legend: {
        enabled: false
      },
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        min: 0,
        title: { text: null }
      },
      series: [{
        name: 'Errors',
        data: []
      }]
    });

    var errorsPerUserAgentChart = new Highcharts.Chart({
      chart: {
        renderTo: 'errors-per-user-agent',
        type: 'pie',
        height: 400,
        width: 900,
        marginBottom: 25
      },
      credits: {
        enabled: false
      },
      title: {
        text: 'Errors by User Agent'
      },
      subtitle: {
        text: 'Last 7 days'
      },
      legend: {
        enabled: false
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: false
          }
        }
      },
      series: [{
        name: 'Errors',
        data: []
      }]
    });

    function loadErrorsPerDay() {
      loadChartData(errorsPerDayChart, '/stats/errors/per/day/7');
    };

    function loadErrorsPerUserAgent() {
      loadChartData(errorsPerUserAgentChart, '/stats/errors/per/user-agent/7');
    };

    loadErrorsPerDay();
    loadErrorsPerUserAgent();

  });


#errors-per-day

#errors-per-user-agent


